body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding:0px;
    margin:0px;
    background-image: url(image/splash.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #f09,
      0 0 82px #f09,
      0 0 92px #f09,
      0 0 102px #f09,
      0 0 151px #f09;
    
    
    
}
header, .intro, footer {
    
    

}
header, .intro{
    display:flex;
    width: 100%;
    align-self: stretch;
    align-items:center;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 15%;
}
.logo{
    font-size: 30;
}
main h1{
    font-size: 40;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: -16px;
}

.sidekick-text, li{
    
    font-size: 14px;

}
button {
    flex:0 1 auto;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding-bottom: 2px;
}
header {
    display: flex;
    gap: 16;
}
li {
    list-style: none;
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:hover {
    color: brown;
}

.intro {
    height: 100vh;
    gap:32px;

}
.intro-text{
    margin-left:15%;
    display:flex;
    flex-flow: column wrap;
    flex:1;
}
.image{
    flex: 1;
    display:flex;
    align-self: stretch;
    justify-content: center;
    align-items:center;
    color:#1F2937;
    margin-top: 40px;
    margin-right: 15%;
    min-width:300px;
    max-height:100%;
    overflow: hidden;
    
}
img{
    width: 100;
}
.main{
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    flex-flow: column wrap;

}
.content{
    flex-wrap: wrap;
    padding: 64px;


}
.content h2{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;

}
.cards{
    display:flex;
    justify-content: center;
    gap:32px;
    flex-flow: row wrap;
    
}
.card {
    max-width: 150px;
    color: #1f293700;
    transition:ease-in .7s;
    
}
.card:hover {
    color: #f9faf8;
    
}
.content-img {
    width:144px;
    height:144px;
    background-image: linear-gradient(0deg, #795949, rgba(0, 0, 0, 0));
    border-radius: 20px;
    transition: ease 0.1s;
    align-items: center;
    
    
}
.content-img:hover {
    transform:scale(1.05);
}
.quote p{
    mix-blend-mode: luminosity;

}
.author {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    font-weight: bold;
}

.sign-up-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding:36px;
    background-color: #f7601b;
    border-radius: 5px;
    margin:100px auto;
    color: #f9faf8;
    flex-flow: row wrap;
    
}

.sign-up-section button {
    border: 2px solid #f9faf8;
}
button:hover {
    background-color: #f9faf8;
    color: #f7601b;
}

.sign-up-section p {
    margin:0px;
}

.small {
    font-size: 12px;
}

footer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 24px 0px;
    align-self: stretch;
}



@media only screen and (max-width: 783px){
    .intro-text {
        margin-right: 15%;
        align-items: center;
    }
    .image {
        margin-left: 15%;
        height: 200px;
    }
    
    .card {
        color: #f9faf8;
    }
}


@media only screen and (max-width: 561px){

    .quote {
        padding: 32px 25%;
    }
}

@media only screen and (max-width: 346px){
header ul {
    margin-right: 10%;
}
   
}